/* html,body{margin:2px;padding:1px;} */

/* .thing is for classes, #thing is for id's */

* { /* applies to everything */
  text-align: center;
}

body{
	font-family:Verdana,sans-serif;
  font-size: 1rem;
	line-height:1.5;
	color:#EEEEEE;
  background-color: #404040;
  margin:0;
}

h1, h2, h3, h4, h5, h6{
	font:2.5em sans-serif;
  font-weight:normal;
	margin:0;
	line-height:1.6em;
	color:#EEEEEE;
  background-color: #404040;
}

button,input,select,textarea,optgroup{
  font:inherit;
}
/* optgroup{
  font-weight:bold
}  */


header{
	height: 32px;
	overflow:hidden;
	padding: 0 5px;
	color:#EEEEEE;
  background-color: #404040;
  text-align: center;
}


a {
  color:dodgerblue    ;
  border-radius: 4px;
  padding: 4px;
}
a:visited {
  color:mediumorchid;
}
/*
a:link {
  color:lightcyan;
}
a:hover {
  color:palegreen;
  font-weight:bold;
}*/

nav li{
  list-style:none; /* possible symbol for list of items */
  float:left; /*positioning inside container*/
  height:24px; 
  line-height:24px;
  box-shadow:0 0 3px #888;
  border-bottom-right-radius:3px;
  border-bottom-left-radius:3px;
  margin:0 2px;
  width:200px;
  overflow:hidden;
  position:relative;
  background:linear-gradient(#ccc,  #aaa);
}

nav li.selected{
	background:linear-gradient(#e1e1e1,  #d1d1d1);
}

nav li a, nav li a:visited, nav li a:hover{
  list-style:none;
  display:block;
  position:absolute;
  top:0;
  left:-2px;
  height:24px;
  line-height:24px;
  width:204px; 
  text-align:center;
  color:#333; 
  font-size:11px;
  text-shadow:#e8e8e8 0 1px 0;
  box-shadow:inset 0 1px 1px #888;
} 

nav li.selected a{
  box-shadow:none; 
}

.hide-cursor {
  cursor: none;
}

.hidden-elem {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.unhider:hover .hidden-elem {
  visibility: visible;
  opacity: 1;
}

.paper-intro-choices {
  position: absolute;
  top: 0px;
  width: 130px;
  height: 100px;
  font-weight: bold;
}

.dev-div{
  color:cornsilk;
  background-color: #404070;
}
a.dev-div{
  color:gold;
}
a.dev-div:visited{
  color:burlywood;
}

/* https://coolors.co/contrast-checker/112a46-acc8e5 */


.debug{
  display:none;
}

#gsForm {
  padding: 100px 0;
  width:90%;
  margin:auto;
}


table{
  border: 60px solid;
  border-color: #606060;
}
th, td {
  border: 1px solid; /*these borders help with formatting, but can be removed*/
  border-color: white;
}
#iRT_canvas_table{
  width: 80%;
  margin: auto;
  background-color: #404040; 
}
#cellLeft{
  float: left;
}
#cellRight{
  float: right;
}
#tdCenter{
  display:table-cell; 
  vertical-align:bottom; 
  /* height:15rem;  */
  background-color:gray;
  width:100%;
}

.flexElem{
  display:flex;
}

.JSmol_canvas {
  text-align: center;
  visibility:hidden;
  width: auto;
}


